<div class="header">
    
    <div class="header_gauche">
        <div class="header_gauche_image">
            <img class="header_gauche_image_logo" [src]="logo" alt="logo teach French And Arabic">
        </div>
        <div class="header_gauche_titre" >
            {{title}}
        </div>
    </div>
    <div class="header_milieu">
        <app-onglets [onglets]="onglets"></app-onglets>
    </div>
    <div class="header_droite" (click)="navigateToRegister()">
        <div class="header_droite_container">        
            <svg class="header_droite_container_svg"  viewBox="0 0 23 23"  xmlns="http://www.w3.org/2000/svg">
                <circle class="header_droite_container_svg_circle" cx="11.5" cy="5.5" r="5.5" />
                <path class="header_droite_container_svg_demi-circle" d="M23 22.5C23 19.9804 21.7884 17.5641 19.6317 15.7825C17.4751 14.0009 14.55 13 11.5 13C8.45001 13 5.52494 14.0009 3.36827 15.7825C1.2116 17.5641 4.60536e-07 19.9804 0 22.5L11.5 22.5H23Z"/>
            </svg>
        </div>

        <div  [ngClass]="{'header_droite_mobile' :true, 'is_clicked': menuBurgerIsClicked}" (click)="clickHeader()">
            <div class="container_menu_burger">
                <span class="bar_haut"></span>
                <div class="bar_milieu_container">
                    <div class="bar_milieu_container_gauche"></div>
                    <div class="bar_milieu_container_milieu"></div>
                    <div class="bar_milieu_container_droite"></div>
                </div>
                <span class="bar_bas"></span>
            </div>
        </div>
    </div>
    <app-onglets-mobile [onglets] = "onglets" [isClicked] = "menuBurgerIsClicked"></app-onglets-mobile>

</div>