<div class="container">
    <div class="container_entreprise">
        <p>{{nameAndCopyRight}}</p>
    </div>
    <div class="container_reseau">
        <div class="container_reseau_whatsapp">
            <img class="image" src="./../../assets/images/icon_whatsapp.png">
            <p>{{number}}</p>
        </div>
        <div class="container_reseau_email">
            <img class="image" src="./../../assets/images/icon_email.png">
            <p>{{email}}</p>
        </div>

        <div class="container_reseau_localisation_desktop">
            <img class="image" src="./../../assets/images/icon_localisation.png">
            <p>{{localisation}}</p>
        </div>
    </div>

    <div class="container_reseau_localisation_mobile">
        <img class="image" src="./../../assets/images/icon_localisation.png">
        <p>{{localisation}}</p>
    </div>

</div>


