<div class="container">
    <div class="container_entreprise">
        <p>Solution Piscine © 2020</p>
    </div>
    <div class="container_reseau">
        <div class="container_reseau_whatsapp">
            <img class="image" src="./../../assets/images/icon_whatsapp.png">
            <p>06 86 82 34 71</p>
        </div>
        <div class="container_reseau_email">
            <img class="image" src="./../../assets/images/icon_email.png">
            <p>c.filet-coche&#64;orange.fr</p>
        </div>

        <div class="container_reseau_localisation_desktop">
            <img class="image" src="./../../assets/images/icon_localisation.png">
            <p>20 allée des lilas 26600, La Roche-de-Glun</p>
        </div>
    </div>

    <div class="container_reseau_localisation_mobile">
        <img class="image" src="./../../assets/images/icon_localisation.png">
        <p>20 allée des lilas 26600, La Roche-de-Glun</p>
    </div>

</div>


