.container_top{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.container_top_presentiel, .container_top_distanciel{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.container_top_presentiel_bloc-img, .container_top_distanciel_bloc-img{
    height : 250px
}

.container_top_presentiel_title, .container_top_distanciel_title{
    font-size: larger;
    font-weight: 600;

}

.container_bottom{
    display: flex;
    align-items: flex-start;
    gap: 25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    overflow: hidden;
}
.container_bottom_sercvice{
    cursor: pointer;
    width: 50%;
    background-color: rgba(var(--main-color3-rgba), .1 );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    gap: 30px;
    /* align-items: center; */
}

.container_bottom_sercvice.visible{
    transform: translateY(100%);
    animation: bounceInUp forwards 1s ;

}
.container_bottom_sercvice:nth-child(1){
    animation-delay: 0ms;
}
.container_bottom_sercvice:nth-child(2){
    animation-delay: 200ms;
}
@keyframes bounceInUp {
    60%, 75%, 90%, 0%, 100% {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
    }
    0% {
        /* opacity: 1; */
        transform: translateY(100%);
    }
    
    60% {
        opacity: 1;
        transform: translateY(-20px);
    }
    
    75% {
        transform: translateY(10px);
    }
    
    90% {
        transform: translateY(-5px);
    }
    
    100% {
        transform: translateY(0px);
    }
}




.container_bottom_sercvice_sentence{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
}
.container_bottom_sercvice_detail{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: small;
}

.container_bottom_sercvice_flag{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container_bottom_sercvice_flag-img{
    height: 48px;
    width: 48px;
    padding: 10px;
    animation: flottement 2s ease-in-out infinite;
}

@keyframes flottement {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.container_bottom_sercvice_arrow{
    width: 100%;
    height: 50px;
}


.container_bottom_sercvice_top{
    width: 90%;
    margin: auto;
}


@media screen and (max-width:500px) {
    .container_top{
        gap: 50px;
    }


    .container_title_block{
        width: 80%;
    }
    .container_title_block_texte{
        width: 100%;
    }
    .container_title_decorateur1{
        right: -10px;
        width: 10px;
    }
    .container_title_decorateur2{
        right: -20px;
        width: 20px;
    }
    .container_title_decorateur3{
        right: -30px;
        width: 30px;
    }
    .container_title_decorateur4{
        left: -10px;
        width: 10px;
    }
    .container_title_decorateur5{
        left: -20px;
        width: 20px;
    }
    .container_title_decorateur6{
        left: -30px;
        width: 30px;
    }
    .container_title_block_sous-texte{
        font-size: small
    }

    .container_bottom_service_icon_content{
        height: 30px;
        width: 30px;
    }

    .container_top{
        margin-bottom: 50px;
        flex-direction: column-reverse;
    }
    .container_bottom{
        flex-direction: column;
        gap: 30px;
    }
    .container_bottom_sercvice{
        margin: auto;
        width: 280px;
    }

    
    .container_top_blockgauche{
        width: 80%;
    }
    .container_top_blockmilieu{
        width: 55%;
        align-self: center;
    }

}
