<div class="container">
    <div class="container_top">
        <div class="container_top_presentiel">
            <div class="container_top_presentiel_bloc">
                <img class="container_top_presentiel_bloc-img" [src]="presentiel" alt="">
            </div>
            <p class="container_top_presentiel_title">
                Enseignement en présentiel
            </p>
        </div>
        <div class="container_top_distanciel">
            <div class="container_top_distanciel_bloc">
                <img class="container_top_distanciel_bloc-img" [src]="distanciel" alt="">
            </div>
            <p class="container_top_distanciel_title">
                Enseignement en distanciel
            </p>
        </div>
    </div>

    <div class="container_bottom">
        <div *ngFor="let bloc of blocs" 
        [ngClass]="{'container_bottom_sercvice': true, 'visible' : visible}"
        (click)="navigateTo(bloc)">
        <div class="container_bottom_sercvice_top">
            <p class="container_bottom_sercvice_sentence">{{bloc.title}}</p>
            <p class="container_bottom_sercvice_detail">{{bloc.detail}}</p>
        </div>
        <div class="container_bottom_sercvice_flag" >
            <img *ngFor="let flag of bloc.flags" class="container_bottom_sercvice_flag-img" [src]="flag" alt="french flag">
        </div>
        </div>
    </div>
</div>
