

.container_contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container_contact_titre{
    font-size: xx-large;
    text-align: center;
    border-bottom: 1px solid var(--main-color2);
    display: flex;
    align-self: center;
}

.container_contact_texte{
    text-align: center;
    width: 80%;
    margin: auto;
}

.container2{
    display: flex;
    justify-content: space-evenly;
}

.container2_telephone{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    text-align: center;
}


.container2_email{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
    text-align: center;
}

.container2_telephone_button, .container2_email_button{
    cursor: pointer;
    border-bottom: 1px solid var(--main-color2);
}
.container2_telephone_button,  .container2_email_button {
    background-color: #e0b89f; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 10px 20px; /* Espacement intérieur */
    font-size: 16px; /* Taille du texte */
    border: none; /* Pas de bordure */
    cursor: pointer; /* Change le curseur en main au survol */
    border-radius: 5px; /* Bordures arrondies */
    transition: all 0.3s ease; /* Transition douce pour les effets */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.container2_telephone_button:hover, .container2_email_button:hover {
    background-color: #cba986; /* Couleur au survol (un peu plus foncée) */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre plus prononcée */
}

.container2_telephone_button:focus, .container2_email_button:focus {
    outline: none; /* Supprime le contour par défaut lors du focus */
}

@media only screen and (max-width: 500px) {
    .container2{
        flex-wrap: wrap;
        gap: 40px;
        margin-bottom: 50px;
    }
}

