<div class="container">
    <div class="container_bottom">
        <div *ngFor="let image of images;
        let indexOfelement=index;" [ngClass]="{'container_bottom_sercvice': true, 'visible' : visible}">
        <div class="container_bottom_sercvice_top">
            <p class="from">from</p>
            <p class="bonjour">Bonjour</p>
        </div>
        <div class="container_bottom_sercvice_middle">
            <img src="./../../assets/images/avion-50px.svg" alt="avion">
        </div>
        <div class="container_bottom_sercvice_bottom">
            <p class="from">to</p>
            <p class="bonjour">مرحباً بكم</p>
        </div>
        <div class="container_bottom_sercvice_arrow">
            <img class="image_fleche" src="./../../assets/images/fleche-30.png" alt="fleche_click">
        </div>
        </div>
    </div>
</div>
