<div class="container"  (click)="updateOnglet()">
    <div class="container_main">
        <div class="container_main_trait--haut"></div>
        <div class="container_main_trait--bas"></div>
        <div class="container_main_block1">

            <h3 class="container_main_block1--title">Titre </h3>
            <p class="container_main_block1--subtitle">Sous Titre</p>

         </div>
        <div class="container_main_block2"></div>
        <img src="" class="container_main_background">
        <div  class="container_main_background--filter"></div>
    </div>
    <div class="container">
        <div class="container_title_block">
            <p class="container_title_block_texte">Notre Galerie</p>
            <p class="container_title_block_sous-texte">Découvrez des réalisations qui illustrent notre passion pour créer des espaces aquatiques uniques et personnalisés.</p>
            <div class="container_title_decorateur1"></div>
            <div class="container_title_decorateur2"></div>
            <div class="container_title_decorateur3"></div>
            <div class="container_title_decorateur4"></div>
            <div class="container_title_decorateur5"></div>
            <div class="container_title_decorateur6"></div>
            
        </div>
    </div>

</div>