<div class="container"  (click)="updateOnglet()">
    <div class="container_main">
        <div class="container_main_trait--haut"></div>
        <div class="container_main_trait--bas"></div>
        <div class="container_main_block1">

            <h3 class="container_main_block1--title">تعلم اللغة الفرنسية للناطقين باللغة العربية</h3>
            <p class="container_main_block1--subtitle">اكتشف طريقة غامرة وتفاعلية مصممة خصيصًا للمتحدثين باللغة العربية بفضل الدروس المخصصة وأدوات الوسائط المتعددة والمراقبة المستمرة، يمكنك تعلم اللغة الفرنسية بطريقة فعالة وممتعة</p>

         </div>
        <div class="container_main_block2"></div>
        <img src="./../../assets/images/background-fr.png" class="container_main_background">
        <div  class="container_main_background--filter"></div>
    </div>
    <div class="container">
            <p class="container_title_block_sous-texte">  .تعلم اللغة الفرنسية
                مهما كان هدفك: البدء بتعلم اللغة الفرنسية،  تطوير  معرفتك، تحسين سلاسة تعبيرك، إثراء مفرداتك وثقافتك الشخصية، اكتساب أساسيات التواصل المهني
                 </p>
    </div>
    <div class="container_objectifs">
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">مبتدئ</div>
            <div class="container_objectifs_bloc-texte">
                <ul class="container_objectifs_bloc_liste">
                    <li class="container_objectifs_bloc_liste_li">دورات اللغة الفرنسية المخصصة للمبتدئين لا تتطلب أي معرفة سابقة باللغة الفرنسية.</li>
                    <li class="container_objectifs_bloc_liste_li"> يتعين على الطلاب تحديد أهدافهم بوضوح، سواء كانت للتواصل اليومي، أو الاحترافي، أو الأكاديمي، أو لأغراض أخرى.</li>
                    <li class="container_objectifs_bloc_liste_li"> الالتزام بالممارسة المنتظمة ضروري، حيث يتطلب تعلم اللغة الفرنسية الاستمرار في التدريب.                    </li>
                    <li class="container_objectifs_bloc_liste_li">يجب المشاركة الفعّالة في الدورات بالإضافة إلى ممارسة اللغة خارج أوقاتالدرس.
                    </li>

                </ul>
            </div>
        </div>
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">متوسط</div>
            <div class="container_objectifs_bloc-texte">
                <ul class="container_objectifs_bloc_liste">
                    <li class="container_objectifs_bloc_liste_li">الدورات اللغوية الفرنسية الموجهة للمستوى المتوسط تفترض وجود معرفة مبدئية باللغة الفرنسية لدى الطلاب</li>
                    <li class="container_objectifs_bloc_liste_li">يهدف التعلم في هذا المستوى إلى تطوير مهارات الاستماع والتحدث والقراءة والكتابة بشكل أعمق وأكثر تعقيدًا.                    </li>
                    <li class="container_objectifs_bloc_liste_li">من المتوقع من الطلاب تحديد أهدافهم بوضوح، سواء كانت للتواصل اليومي، أو الاحترافي، أو الأكاديمي.                    </li>
                    <li class="container_objectifs_bloc_liste_li">النجاح في هذا المستوى يعتمد على الالتزام بممارسة اللغة بانتظام والمشاركة الفعّالة في النقاشات والأنشطة اللغوية المتقدمة.</li>
                </ul>
            </div>
        </div>
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">متقدم</div>
            <div class="container_objectifs_bloc-texte">
                <ul class="container_objectifs_bloc_liste">
                    <li class="container_objectifs_bloc_liste_li">تهدف دورات اللغة الفرنسية الموجهة لذوي المستوى المتقدم إلى تعميق المعرفة وتحسين المهارات اللغوية الشاملة.                    </li>
                    <li class="container_objectifs_bloc_liste_li">يُفترض أن يكون لدى الطلاب مستوى متقدم في فهم اللغة واستخدامها.                    </li>
                    <li class="container_objectifs_bloc_liste_li"> يسعى المنهج التعليمي في هذا المستوى إلى توسيع الفهم والتطبيق في سياقات أكثر تعقيدًا مثل الأدب والثقافة والتواصل الاحترافي.                    </li>
                    <li class="container_objectifs_bloc_liste_li">يشجع الطلاب على تحديد أهدافهم الشخصية المتقدمة والعمل على تحقيقها من خلال المشاركة في مناقشات متعمقة وأنشطة متقدمة تتطلب استخدام اللغة بمهارة وفهم عميق.</li>
                </ul>
            </div>
        </div>

        <div class="container_resultats">
            <p class="container_resultats-title">
                نتائج مضمونة
            </p>
            <p class="container_resultats-description">
                هل تتطلع إلى إتقان اللغة الفرنسية، وهي لغة غنية ورائعة؟ دوراتنا الفرنسية للمتحدثين باللغة العربية مصممة لك! مع الأماكن المحدودة، نضمن الاهتمام الشخصي لكل طالب، مما يضمن التعلم الفعال والتفاعلي. يضع مدرسونا، جميعهم مؤهلين ومتحمسين، خبرتهم وحبهم للغة الفرنسية تحت تصرفك، ويرشدونك خطوة بخطوة نحو إتقان هذه اللغة الرائعة. سواء كنت مبتدئًا أو على مستوى متقدم، فإن طريقتنا المجربة تعدك بالنتائج. من خلال التسجيل في دوراتنا، فإنك تختار التقدم المضمون في بيئة تعليمية محفزة وثرية. لا تفوت هذه الفرصة الفريدة لاستكشاف اللغة الفرنسية مع الخبراء. انضم إلينا الآن واحجز مكانك في رحلة لغوية لا تُنسى
            </p>
        </div>
    </div>
</div>