<div class="container"  (click)="updateOnglet()">
    <div class="container_main">
        <div class="container_main_trait--haut"></div>
        <div class="container_main_trait--bas"></div>
        <div class="container_main_block1">

            <h3 class="container_main_block1--title">Apprendre le Français pour Arabophones </h3>
            <p class="container_main_block1--subtitle">Découvrez une méthode immersive et interactive, conçue spécialement pour les arabophones. Grâce à des leçons personnalisées, des outils multimédias engageants et un suivi constant, apprenez le français de manière efficace et ludique.</p>

         </div>
        <div class="container_main_block2"></div>
        <img src="./../../assets/images/background-fr.png" class="container_main_background">
        <div  class="container_main_background--filter"></div>
    </div>
    <div class="container">
            <p class="container_title_block_sous-texte">Du besoin d'apprendre au plaisir de parler français !
                Quel que soit votre objectif : démarrer le français, remettre à jour vos connaissances, améliorer la fluidité de votre expression, enrichir votre vocabulaire et votre culture personnelle, acquérir les bases de la communication professionnelle ?
                Teach french and arabic vous propose la méthode #JeVeuxParler français.</p>
    </div>
    <div class="container_objectifs">
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">Prérequis</div>
            <div class="container_objectifs_bloc-texte">
                <ul class="container_objectifs_bloc_liste">
                    <li class="container_objectifs_bloc_liste_li">Savoir parler un dialecte arabe : Dialecte du Maghreb, Moyen-Orient, Turque </li>
                    <li class="container_objectifs_bloc_liste_li">Motivation et envie </li>
                </ul>
            </div>
        </div>
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">Formation</div>
            <div class="container_objectifs_bloc-texte">
                <ul class="container_objectifs_bloc_liste">
                    <li class="container_objectifs_bloc_liste_li">Professeur diplomé : minimum Master 2 spécialité FLE </li>
                    <li class="container_objectifs_bloc_liste_li">Pédagogie monté souris </li>
                    <li class="container_objectifs_bloc_liste_li">à distance ou à domicile </li>
                    <li class="container_objectifs_bloc_liste_li">Accent sur l'expression orale et comprhésion </li>
                </ul>
            </div>
        </div>
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">Objectifs</div>
            <div class="container_objectifs_bloc-texte"></div>
        </div>
    </div>
</div>