<div class="container">
    <div class="container_title">Notre Savoire-Faire</div>
    <div class="container_top">
        <div class="container_top_blockgauche">
                <div [ngClass]="{'container_top_blockgauche_block':true,'visible': visible}">
                    <div class="container_top_blockgauche_block_title">Plan de travail pour cuisine</div>
                    <div class="container_top_blockgauche_block_description">revêtement en granit, marbre, quartz, céramique... Tant de choix et une finition soignée pour donner toute l'élégance et un caractère unique à votre cuisine. </div>
                </div>
            </div>
        <div class="container_top_blockmilieu">
            <img class="container_top_blockmilieu_imagetop" [src]="imageBlock1" alt="">
            <div [ngClass]="{'cercle_avec_echantillon': true,'visible': visible}">
                <div class="container_top_blockmilieu_circle"></div>
                <img  class="container_top_blockmilieu_imagebulle1" src="./../../assets/images/bulle-marbre1.png" alt="">
                <img  class="container_top_blockmilieu_imagebulle2" src="./../../assets/images/bulle-marbre2.png" alt="">
                <img  class="container_top_blockmilieu_imagebulle3" src="./../../assets/images/bulle-marbre3.png" alt="">
                <img  class="container_top_blockmilieu_imagebulle4" src="./../../assets/images/bulle-marbre4.png" alt="">
                <img  class="container_top_blockmilieu_imagebulle5" src="./../../assets/images/bulle-marbre5.png" alt="">
                <img  class="container_top_blockmilieu_imagebulle6" src="./../../assets/images/bulle-marbre6.png" alt="">
            </div>
            
        </div>
    </div>
    <div class="container_bottom">
        <div *ngFor="let image of images" class="container_bottom_sercvice">
            <div class="container_bottom_service_image">
                <img class="container_bottom_service_image_content" [src]="image.src" alt="image esclier">
            </div>
            <div class="container_bottom_service_icon">
                <img  class="container_bottom_service_icon_content" [src]="image.icon" alt="icon esclier">
           </div>
            <div class="container_bottom_service_title">{{image.title}} </div>
            <div class="container_bottom_service_description">
                {{image.description}}
            </div>
        </div>
        <!-- <div class="container_bottom_sercvice">
            <div class="container_bottom_service_image">
                <img src="./../../assets/images/escalier_marbre.jpg" alt="image esclier">
            </div>
            <div class="container_bottom_service_icon">
                <img src="./../../assets/images/icons-escaliers.png" alt="icon esclier">
           </div>
            <div class="container_bottom_service_title">Escaliers </div>
            <div class="container_bottom_service_description">
                une escaliers en pierre raconte quelque chose. Il apportera une âme à votre intérieure et s'embellira avec le temps. 
            </div>
        </div>
        <div class="container_bottom_sercvice">
            <div class="container_bottom_service_image">
                <img src="./../../assets/images/escalier_marbre1.jpg" alt="image esclier">
            </div>
            <div class="container_bottom_service_icon">
                <img src="./../../assets/images/icons-escaliers.png" alt="icon esclier">
           </div>
            <div class="container_bottom_service_title">Escaliers </div>
            <div class="container_bottom_service_description">
                une escaliers en pierre raconte quelque chose. Il apportera une âme à votre intérieure et s'embellira avec le temps. 
            </div>
        </div> -->
    </div>
</div>
