.container_title{
    margin-top: 40px;
    text-align: center;
    font-size: x-large;
}
.container_top{

    width: 100%;
    height: calc(72vh - 53px);
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.container_top_blockgauche{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    container-type: inline-size;
    container-name: borderName;
}

@container borderName (max-width: 400px ){
    .container_top_blockgauche_block{
        height: 65%;
    }
}

.container_top_blockgauche_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    width: 83%;
    margin: auto;
    transform: translateX(358px);
    padding: 14px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 2s ease;
}
.container_top_blockgauche_block.visible{
    transform: translateX(0px);
}
.animatedDiv{
    transform: translateX(0px);
}
.container_top_blockgauche_block_title{
    font-size: larger;
    display: flex;
    flex-direction: column;
}
.container_top_blockgauche_block_description{
    text-align: justify;
}
.container_top_blockgauche_block_title::after{
    content:"";
    margin-top : 10px;
    height: 1px;
    width: 50%;
    background-color: black;
}


.container_top_blockmilieu{
    overflow: hidden;
    position:relative;
    width: 60%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border : 1px solid #F2F2F2
}
.container_top_blockmilieu_circle{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 106%;
    height: 203%;
    z-index: 1;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.container_top_blockmilieu_imagetop{
    position: absolute;
    z-index: 2;
    width: 400px;
    right: 12%;
    top: 50%;
    transform: translate(0%, -50%);
}

.cercle_avec_echantillon{
    position: relative;
    width: 100%;
    height: 100%;
    transform: rotate(-40deg);
    transform-origin: 0% 0%;
    transition: transform 2s ease-in-out; 
}
.cercle_avec_echantillon.visible{
    transform: rotate(0deg);
}

.container_top_blockmilieu_imagebulle1{
    position: absolute;
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 1%;
    left: 18%;
}

.container_top_blockmilieu_imagebulle2{
    position: absolute;
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 14%;
    left: 29%;
}

.container_top_blockmilieu_imagebulle3{
    position: absolute;
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 31%;
    left: 38%;
}


.container_top_blockmilieu_imagebulle4{
    position: absolute;
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 50%;
    left: 45%;
}

.container_top_blockmilieu_imagebulle4{
    position: absolute;
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 49%;
    left: 44%;
}

.container_top_blockmilieu_imagebulle5{
    position: absolute;
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 70%;
    left: 49%;
}

.container_top_blockmilieu_imagebulle6{
    position: absolute;
    z-index: 2;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 89%;
    left: 50%;
}

.container_bottom{
    height: calc(52vh - 53px);
    display: flex;
    justify-content: space-evenly;
}
.container_bottom_sercvice{
    width: 350px;
    height: 80%;
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
    background-color: #F2F2F2;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.container_bottom_service_image{
    overflow: hidden;
    width: 100%;
    height: 45%;
}
.container_bottom_service_image_content {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in;
}
.container_bottom_service_image_content:hover {
    transform: scale(1.2);
}


.container_bottom_service_icon{
    justify-content: center;
    display: flex;
    height: 10%;
}
.container_bottom_service_title{
    text-align: center;
    font-size: large;
}

.container_bottom_service_description{
    margin: auto;
    text-align: center;
    font-size: small;
}


@media screen and (max-width:500px) {

    .container_top_blockgauche_block{
        height: 80%;
    } 

    .container_bottom_service_icon_content{
        height: 30px;
        width: 30px;
    }
    .container_bottom_service_icon_content{

    }
    .container_top{
        margin-bottom: 20px;
    }
    .container_bottom{
        flex-direction: column;
        gap: 30px;
        height: inherit;
    }
    .container_bottom_sercvice{
        margin: auto;
        width: 280px;
    }

    .cercle_avec_echantillon{
        transform-origin: -80% 50%;
    }
    .container_top_blockgauche{
        width: 40%;
    }
    .container_top_blockmilieu{
        width: 55%;
    }

    .container_top_blockmilieu_imagetop{
        transform: translate(50%, -50%);
        width: 100%;
        right: 50%;
        top: 50%;
    }

    .container_top_blockmilieu_imagebulle1, .container_top_blockmilieu_imagebulle2, .container_top_blockmilieu_imagebulle3, .container_top_blockmilieu_imagebulle4, .container_top_blockmilieu_imagebulle5, .container_top_blockmilieu_imagebulle6 {
        left: 0%;
    }

    .container_top_blockmilieu_circle{
        width: 300%;
        height: 100%;
    }

    .container_top_blockmilieu_imagebulle1{
        bottom: 9%;
    }
    .container_top_blockmilieu_imagebulle3{
        left: 27%;
        bottom: 21%;
    }
    .container_top_blockmilieu_imagebulle2{
        left: 39%;
        bottom: 35%;
    }
    .container_top_blockmilieu_imagebulle4{
        left: 38%;
        bottom: 57%;
    }
    .container_top_blockmilieu_imagebulle5{
        left: 26%;
        bottom: 70%;
    }
    .container_top_blockmilieu_imagebulle6{
        left: 0%;
        bottom: 82%;
    }

}
