<div class="container">
    <div class="container_image_right">
        <img class="image" [src]="image2" alt="photo de marbre">
    </div>

    <div class="container_background">
    </div>

    <div class="container_logo">
        <img class="container_logo-svg" [src]="logo" alt="photo de marbre">
    </div>

    <div class="container_content">
        <div class="container_content_title">Teach French & Arabic</div>
        <div class="container_content_description">
            {{ "landingPageDescription" | translate }}
        </div>

        <div (click)="navigateToContact()" class="container_content_button">
            <div class="container_content_button_texte">
                {{ "landingPageContactezNous" | translate }}
            </div>
            <div class="container_content_button_sousligne"></div>
        </div>
    </div>
</div>
