<div class="container">
    <div class="container_texte">
        <p>Les avis de nos clients</p>
    </div>
    <div class="container_top"></div>
    <div class="container_bottom"></div>
    <div class="container_review">
        <div *ngFor="let reviewByEtat of reviewsByEtats; 
        let indexOfelement=index;" 
                    [ngClass]="{'container_review_block':true,
                                'container_review--too-left':reviewByEtat[0],
                                'container_review--left': reviewByEtat[1],
                                'container_review--main': reviewByEtat[2],
                                'container_review--right': reviewByEtat[3],
                                'container_review--too-right': reviewByEtat[4]}">
        <div class="container_review_etoile">
            <div *ngFor="let _ of [].constructor(reviews[indexOfelement].note); let i = index">
                <svg class="etoile" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.74064 1.93224L8.5 1.07768L8.25936 1.93224L6.85134 6.93237H2.31813H1.63077L2.15752 7.37396L5.8543 10.473L4.43876 15.4999L4.21916 16.2797L4.84 15.7592L8.5 12.691L12.16 15.7592L12.7808 16.2797L12.5612 15.4999L11.1457 10.473L14.8425 7.37396L15.3692 6.93237H14.6819H10.1487L8.74064 1.93224Z" fill="#F5D442" stroke="black" stroke-width="0.5"/>
                </svg>
                    
                <!-- <img class="etoile" src="./../../assets/images/etoile.png" alt=""> -->
            </div>
        </div>
        <div class="container_review_date">
            {{reviews[indexOfelement].datePublication.slice(0,10)}}
        </div>
        <div class="container_review_description">
            {{reviews[indexOfelement].review}}
        </div>
        <div class="container_review_user">
            {{reviews[indexOfelement].prospect.userName}}
        </div>
        
        </div>
        
<!--         
        
        <div [ngClass]="container_review_block container_review--left"></div>
        <div [ngClass]="container_review_block container_review--main"></div>
        <div [ngClass]="container_review_block container_review--right"></div>
        <div [ngClass]="container_review_block container_review--too-right"></div> -->

    </div>

    <svg  (click)="clickFlecheDroite()" [ngClass]="{'container_fleche--droite':true, 'hidden':hiddenFlecheDroite}" width="25" height="42" viewBox="0 0 25 42" xmlns="http://www.w3.org/2000/svg">
        <line x1="0.662865" y1="41.6308" x2="23.6629" y2="20.6308" stroke="black"/>
        <line x1="1.32809" y1="0.622697" x2="24.3281" y2="20.6227" stroke="black"/>
    </svg>

    <svg  (click)="clickFlecheGauche()" [ngClass]="{'container_fleche--gauche':true, 'hidden':hiddenFlecheGauche}" width="25" height="42" viewBox="0 0 25 42" xmlns="http://www.w3.org/2000/svg">
        <line class="trait" x1="0.662865" y1="41.6308" x2="23.6629" y2="20.6308" />
        <line class="trait" x1="1.32809" y1="0.622697" x2="24.3281" y2="20.6227"/>
    </svg>
    <!-- <img src="../../assets/images/fleche-droite.png" alt="" (click)="clickFlecheDroite()" [ngClass]="{'container_fleche--droite':true, 'hidden':hiddenFlecheDroite}"> -->
    <!-- <img src="../../assets/images/fleche-droite.png" alt="" (click)="clickFlecheGauche()"[ngClass]="{'container_fleche--gauche':true, 'hidden':hiddenFlecheGauche}"> -->
</div>