.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
}
.container_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}
.container_bottom{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
}
.container_review{
    position: relative;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 58%;
    perspective: 900px;
    perspective-origin: top;
    margin-top: 70px;
}
.container_review_block{
    display: flex;
    background-color: rgba(var(--main-color3-rgba), .5);
    color: var(--main-color);
    flex-direction: column;
    height: 90%;
    width: 400px;
    position: absolute;
    transform-style: preserve-3d;
    /* background-color: rgba(255, 255, 255, 1); */
    transition: transform 1s ease-in-out;
    padding: 5px;
}

.container_review--main{
    /* transform: translateX(0%) rotateY(0deg); */
    transform: translate3d(0,0,-0) rotateY(0deg);
}

.container_review--left{
    /* transform: translateX(-117%) rotateY(65deg); */
    transform: translate3d(-117%,0,0) rotateY(65deg); 
}

.container_review--right{
    /* transform: translateX(117%) rotateY(-65deg); */
    transform: translate3d(117%,0,0) rotateY(65deg); 
}
.container_review--too-left{
    /* transform: translateX(-200%) rotateY(90deg); */
    transform: translate3d(-200%,0,0) rotateY(65deg); 
}
.container_review--too-right{
    /* transform: translateX(200%) rotateY(-90deg); */
    transform: translate3d(200%,0,0) rotateY(65deg); 
}

.container_review.turnright .container_review--too-left{
    transform: translateX(-117%) rotateY(65deg);
}
.container_review.turnright .container_review--left{
    transform: translateX(0%) rotateY(0deg);
}
.container_review.turnright .container_review--main{
    transform: translateX(117%) rotateY(-65deg);
}
.container_review.turnright .container_review--right{
    transform: translateX(200%) rotateY(-90deg);
}
.container_review.turnright .container_review--too-right{
    transform: translateX(200%) rotateY(-90deg);
}

.container_fleche--droite{
    /* fill: var(--main-color); */
    position: absolute;
    margin-top: 70px;
    z-index: 2;
    width: 57px;
    right: 1%;
}

.container_fleche--gauche{
    /* fill: var(--main-color); */
    position: absolute;
    margin-top: 70px;
    z-index: 2;
    width: 57px;
    left: 1%;
    transform: rotate(180deg);
}

.container_fleche--gauche.hidden{
    display: none;
}
.container_fleche--droite.hidden{
    display: none;
}

.container_review_etoile{
    display: flex;
    gap: 5px;
    margin-left: 2px;
}

.etoile{
    width: 15px;
}
.container_review_date{
    display: flex;
    justify-content: flex-end;
    font-size: small;
    margin-right: 2px;
}
.container_review_description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    font-style: italic;
}
.container_review_user{
    display: flex;
    flex-grow: 0;
    justify-content: flex-end;
    margin-bottom: 2px;
    margin-right: 2px;
}

line{
    stroke: var(--main-color);
}

path {
    fill: var(--main-color2);
    stroke: none;
}

.container_texte{
    position: absolute;
    top: 30px;
    z-index: 1;
    color: var(--main-color);
    font-size: x-large;
}

@media screen and (max-width:500px) {

.container_texte{
    top: 20%;
}
.container_review_block {
    height: 50%;
    width: 260px;
}

.container_fleche--droite{
    width: 21px;
    right: 2%
}
.container_fleche--gauche{
    width: 21px;
    left: 2%
}

}