
.main{
    height: calc(100vh - 53px);
}

.main_contact{
    position: relative;
    height: 300px;
}
.main_contact_img{
    width: 100%;
    height: 100%;
}
.main_contact_img_content{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_contact_title{
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translate(-50%, -50%);
    font-size: 4em;
    background-color: #ffffffc9;
    border-radius: 5px;
    padding: 10px 100px;
    font-weight: 200;
}
.main_information_enveloppe{
    position: relative;
    height: 100px;
}
.main_information_enveloppe_block{
    position: absolute;
    top: 0%;
    left: 50%;
    background-color: var(--main-color2);
    height: 120px;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px 42px;
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.main_information_enveloppe_block_bureau{
    text-align: center;
}
.main_information_enveloppe_block_adresse{
    text-align: center;
}


.main_formulaire_texte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    /* width: 500px;
    height: 100px; */
    margin: auto; 
}
.main_formulaire_texte_p1{
    text-align: center;
    /* margin: 30px; */
}
.main_formulaire_texte_p2{
    text-align: center;
}
.main_formulaire_texte_email{
    display: flex;
    justify-content: center;
    /* margin-bottom: 30px; */
}
.main_formulaire_texte_email_bouton{
    text-align: center;
    background-color: var(--main-color2);
    color : white;
    padding: 5px;
    border-radius: 5px;
}
.main_formulaire_block{
    height: 20px;
}



@media only screen and (max-width: 992px) {
    .main_contact{
        height: 250px;
    }
    .main_contact_title{
        font-size: 3em;
        top: 80px;
        padding: 2px 70px;
    }
}

@media only screen and (max-width: 600px) {
    .main_information_enveloppe_block{
        font-size: 0.8em;
    }
    .main_contact_img{
        background-position-y:0px;
    }

    .main_contact_title{
        font-size: 2em;
    }

    .main_contact{
        height: 150px;
    }
    .main_contact_title{
        font-size: 2em;
        top: 40px;
    }
    .main_formulaire_texte{
        font-size: 0.8em;
        width: 80%;
    }

}