.container{
    /* position: absolute; */
    /* z-index: 5; */
    /* top: var(--largeur-header); */
    /* right: 50%; */
    width: 225px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: translate(50%, 50%); */
    background-color: white;
    overflow: hidden;
    animation: texteDisapear 1s linear 3s forwards;

}
@keyframes texteDisapear {
    to{
        height: 0;
    }
    
}


.lettre1,.lettre2,.lettre3,.lettre4,.lettre5,.lettre6,.lettre7,.lettre8,.lettre9,.lettre10,.lettre11,.lettre12,.lettre13{
    stroke-dasharray: 1;
    transition: stroke-dashoffset 0.5s linear ;
    stroke-dashoffset: 1;
}
.svg{
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
}
.svg.active .lettre1
{
    stroke-dashoffset: 0;
}
.svg.active .lettre2
{    
    transition-delay:200ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre3
{    
    transition-delay:400ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre4
{    
    transition-delay:600ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre5
{    
    transition-delay:800ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre6
{    
    transition-delay:1000ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre7
{    
    transition-delay:1200ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre8
{    
    transition-delay:1400ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre9
{    
    transition-delay:1600ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre10
{    
    transition-delay:1800ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre11
{    
    transition-delay:2000ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre12
{    
    transition-delay:2200ms;
    stroke-dashoffset: 0;
}
.svg.active .lettre13
{    
    transition-delay:2400ms;
    stroke-dashoffset: 0;
}
