<div class="container">
    <div class="container_title_block">
        <div class="container_title_block_texte">Solution Piscine, un savoir faire d'excellence</div>
        <div class="container_title_block_sous-texte">Installés à la roche de glun , nous vous offrons une expertise inégalée pour la réalisation de piscines sur mesure et de qualité exceptionnelle.</div>
        <div class="container_title_decorateur1"></div>
        <div class="container_title_decorateur2"></div>
        <div class="container_title_decorateur3"></div>
        <div class="container_title_decorateur4"></div>
        <div class="container_title_decorateur5"></div>
        <div class="container_title_decorateur6"></div>
        

    </div>
    <div class="container_top">
        <div class="container_top_blockgauche">
                <div [ngClass]="{'container_top_blockgauche_block':true,'visible': visible}">
                    <div class="container_top_blockgauche_block_title">Découvrez Solution Piscine </div>
                    <div>
                        
                        <!-- <svg class="svg" width="250" height="250"> -->
                            <!-- <circle cx="50" cy="50" r="50" fill="none" stroke="black" stroke-width="2"/>
                            <circle cx="45" cy="45" r="45" fill="none" stroke="black" stroke-width="2"/> -->
                            <!-- <path id="curve" d="M 0 120 C 0 120, 130 0, 260 120"></path> -->
                            <!-- <path id="curve" d="M 25 125 A 100 100 0 1 1 25 127"></path> -->
                            <!-- <path d="M 25 0 A 25 25 0 1 0 25 50 A 25 25 0 1 0 25 0" fill="none" stroke="black" stroke-width="2"/>

                            <text class="text">
                                <textPath href="'#curve">Curved Text</textPath>
                            </text>
                        </svg> -->
                    </div>
                    <div class="container_top_blockgauche_block_sous-titre">Votre Expert en Construction, Rénovation et Entretien de Piscines </div>
                    <div class="container_top_blockgauche_block_description">
                        Bienvenue chez Solution Piscine, votre expert en piscines sur mesure. De la Construction Traditionnelle à la Rénovation, Étanchéité, Filtrations, et Entretien, nous offrons un service complet avec un Conseil Personnalisé. Notre savoir-faire allie qualité artisanale, modernité, et engagement envers la solidité. Avec une approche centrée sur la satisfaction client, nous sommes fiers de concrétiser vos rêves de piscine. Pour des piscines impeccables, contactez-nous dès aujourd'hui et laissez-nous faire de votre espace aquatique un véritable havre de bonheur.</div>
                </div>
            </div>
        <div class="container_top_blockmilieu">
            <img class="container_top_blockmilieu_imagetop" [src]="imageBlock1" alt="">
        </div>
    </div>
    <div class="container_bottom">
        <div *ngFor="let image of images;
        let indexOfelement=index;" class="container_bottom_sercvice">
            <div class="container_bottom_service_image">
                <img class="container_bottom_service_image_content" [src]="image.src" alt="image esclier">
            </div>
            <div class="container_bottom_service_icon">
                <img  class="container_bottom_service_icon_content" [src]="image.icon" alt="icon esclier">
           </div>
            <div class="container_bottom_service_title">{{image.title}} </div>
            <div class="container_bottom_service_description_blok">
                <div class="container_bottom_service_description">
                    @if(displayEntireDescription[indexOfelement]){ 
                        {{displayFirstNWord(image.description.split(' '))}}
                        <div *ngIf="displayEntireDescription[indexOfelement]" (click)="savoirToggle(indexOfelement)" class="en-savoir-plus">en savoir plus</div>
                      } @else { 
                        {{image.description}}
                        @if(image.description.split(' ').length>nbWordLimite){
                            <div *ngIf="!displayEntireDescription[indexOfelement]" (click)="savoirToggle(indexOfelement)" class="en-savoir-plus">en savoir moins</div> 
                        }
                    }
                    
                </div>
            </div>

        </div>
    </div>
</div>
