<div class="container"  (click)="updateOnglet()">
    <div class="container_main">
        <div class="container_main_trait--haut"></div>
        <div class="container_main_trait--bas"></div>
        <div class="container_main_block1">

            <h3 class="container_main_block1--title">Apprendre l'arabe pour francophones </h3>
            <p class="container_main_block1--subtitle">Découvrez une méthode immersive et interactive, conçue spécialement pour les francophones. Grâce à des leçons personnalisées, des outils multimédias engageants et un suivi constant, apprenez le français de manière efficace et ludique.</p>

         </div>
        <div class="container_main_block2"></div>
        <img src="./../../assets/images/background-ar.png" class="container_main_background">
        <div  class="container_main_background--filter"></div>
    </div>
    <div class="container">
            <p class="container_title_block_sous-texte">Du besoin d'apprendre au plaisir de parler l'arabe !
                Quel que soit votre objectif : démarrer l'arabe, remettre à jour vos connaissances, améliorer la fluidité de votre expression, enrichir votre vocabulaire et votre culture personnelle, acquérir les bases de la communication professionnelle ?
                Teach french and arabic vous propose la méthode #JeVeuxParler l'arabe.</p>
    </div>
    <div class="container_objectifs">
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">Débutant </div>
            <div class="container_objectifs_bloc-texte">
                <ul class="container_objectifs_bloc_liste">
                    <li class="container_objectifs_bloc_liste_li">Aucune connaissance préalable de la langue arabe n'est nécessaire. </li>
                    <li class="container_objectifs_bloc_liste_li">Toutefois, il peut être utile d'avoir une volonté d'apprendre et une ouverture à acquérir de nouvelles compétences linguistiques.                    </li>
                    <li class="container_objectifs_bloc_liste_li">Il est recommandé d'avoir un intérêt pour la culture arabe et une motivation à apprendre la langue.</li>
                </ul>
            </div>
        </div>
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">Intermédiaire </div>
            <div class="container_objectifs_bloc-texte">
                <ul class="container_objectifs_bloc_liste">
                    <li class="container_objectifs_bloc_liste_li">Une compréhension de base de l'alphabet arabe et des principes de base de la grammaire est généralement requise.</li>
                    <li class="container_objectifs_bloc_liste_li">Avoir suivi des cours de langue arabe de niveau débutant ou avoir une expérience pratique de la langue peut être bénéfique. </li>
                </ul>
            </div>
        </div>
        <div class="container_objectifs_bloc">
            <div class="container_objectifs_bloc-title">Avancé  </div>
            <div class="container_objectifs_bloc-texte">
                <ul class="container_objectifs_bloc_liste">
                    <li class="container_objectifs_bloc_liste_li">Une solide compréhension de l'alphabet arabe, de la grammaire et du vocabulaire est nécessaire.</li>
                    <li class="container_objectifs_bloc_liste_li">Avoir suivi des cours de niveau intermédiaire ou avoir une expérience significative dans l'utilisation de la langue arabe est recommandé.</li>
                </ul>
            </div>
        </div>
    </div>
</div>